.container {
  display:grid;
  grid-template-areas: "head head" "side main" "side main" "side main" "side main ";
}

#left {
  background-color: blue;
  grid-area: side;
}

#right {
  background-color: yellow;
  grid-area: main;
  display:grid;
}

header {
  background-color: red;
  grid-area: head;
}
